@{
    Layout = "/Views/Shared/_LayoutNoDashboard.cshtml";
}
<div class="row text-center justify-content-center">
    <h3>
        @SR["Access Denied"]
    </h3>
    <p>
        @SR["You do not have permission to access this page."]
    </p>
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12 col-12 text-center">
        <img class="w-100 " src="~/images/access denied.png" />
    </div>
</div>