@model ChangePasswordViewModel

@{
    ViewBag.Title = @SR["Change Password"];
}

<form asp-controller="User" asp-action="ChangePassword" method="post">
    <input type="hidden" asp-for="Id" />    
    <div class="form-group">
        <label for="NewPassword">@Model.DisplayNameFor(x=>x.NewPassword,localizerFactory)</label>
        <input type="password" asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label for="ConfirmPassword">@Model.DisplayNameFor(x=>x.ConfirmPassword,localizerFactory)</label>
        <input type="password" asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">@SR["Change Password"]</button>
</form>
