@model UserRegisterViewModel

<form ds-model-type="typeof(UserRegisterViewModel)" asp-action="@nameof(UserController.Register)" asp-controller="@nameof(UserController).RemoveController()" method="post">

</form>