<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - اکسیر نوبت</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/PrsianDateTime/mds.bs.datetimepicker.style.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* Make RTL if culture is RTL *@
    @{
        if (ViewData["Culture"] is CultureInfo cultureInfo && cultureInfo.TextInfo.IsRightToLeft)
        {
            <link rel="stylesheet" href="~/css/rtl.css" asp-append-version="true" />
        }
    }
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExirNobat.styles.css" asp-append-version="true" />
</head>
<body>
    <main role="main" class="pb-3">
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/PrsianDateTime/mds.bs.datetimepicker.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
